    /* .container{
        
    } */

    .link{
        cursor: pointer;
        display: flex;
    align-items: Center;
    justify-content: center;
    gap: 8px;
    font-size: 1rem;
    letter-spacing: .5px;
    color: var(--softTextColor);
    }
    
    .logout{
        font-size: 2rem;
        font-weight: 500;
    }
    
    .link_button{
        font-size: .8rem;
        letter-spacing: 1px;
        color: var(--bg);  
        background-color: var(--textColor);
        padding: 8px 16px;
        border-radius: 6px;
        transition: all 0.2s ease-out;
    }
    
    .link_button:hover {
        transform: scale(1.1);
      }
      
      .link_button:active {
        transform: scale(0.9);
      } 

    .burger{
        width: 20px;
        height: 16px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
cursor: pointer;
    }

    .line{
        height: 2px;
        width: 100%;
        background-color: var(--textColor);
    }
    
    .button_style{
        padding: 8px;
        border-radius: 8px;
        text-decoration: none;
        /* background: transparent; */
        cursor: pointer;
        transition: 0.3s ease-in;
        /* box-shadow: inset 0 0 0 0 var(--bg); */
        
        
    }
    .button_style:hover{
        color: var(--bg);
        box-shadow: inset 0 -80px 0 0 var(--textColor);
        transform: scale(1.1);
    
    }
    
    .button_style:active{
        transform: scale(0.9);
    }



    @media  screen and (max-width:1024px) {
        .navIcon{
            display: none;
        }
    }
    @media  screen and (max-width:640px) {
    .burger{
        display: flex;
    }

   
    }



    .responsiveMenu{
        position: absolute;
        background-color: var(--bg);
        top: 100px;
        left: 0;
        height: calc(100vh - 100px);
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        gap: 50px;
        font-size: 36px;
    }