.container{
    margin-top: 30px;
    padding-top: 140px;
}

.title{
    font-size: 2.7rem;
    font-weight: 300;
    color: rgb(35, 116, 116);
}

.post{
    margin-top: 60px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.imgContainer{
    position: relative;
    flex:1;
    height: 380px;
}

.textContainer{
    display: flex;
    flex:1;
    gap: 20px;
    flex-direction: column;
    text-align: left;
}

.image{
    object-fit: cover;
    border-radius: 10px;
    /* height: 380px; */
}

.postTitle{
    font-size: 2.4rem;
}

.postDesc{
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--softTextColor)
}

.button{
    padding: 8px 10px;
    width: max-content;
    font-size: larger;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media screen and (max-width: 1280px) {
    .title{
        font-size: 2.62rem;
    }
}

@media screen and (max-width: 1024px) {
    .title{
        font-size: 4rem;
    }
    .imgContainer{
        display: none;
    }
    .postTitle{
        font-size: 2.2rem;
    }
    .postDesc{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .title{
        font-size: 3rem;
    }
    .postTitle{
        font-size: 2.2rem;
    }
    .postDesc{
        font-size: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .title{
        font-size: 2.2rem;
    }
    .postTitle{
        font-size: 1.6rem;
    }
    .postDesc{
        font-size: 0.8rem;
    }
}

