.footer{
    width: 100%;
    background-color: var(--bgLite);
    border-top: 1px solid var(--borderColor);
  }
  
  .container {
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
  
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: var(--textColor); */
  }
  
  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .logo_item{
    display: flex;
    align-items: center;
  
  }
  
  .logoText {
    font-size: 24px;
  }
  
  .desc {
    font-weight: 300;
    width: 80%;
    letter-spacing: .5px;
    line-height: 20px;
    font-size: .9rem;
    font-family: sans-serif;
  }
  
  .icons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  .links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 100px;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
  }
  
  .listTitle {
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  
  .list_item{
    font-size: .9rem;
    letter-spacing: .2px;
  }
  
  @media screen and (max-width: 1024px) {
    .links {
      gap: 50px;
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      gap: 50px;
    }
  
    .links {
      width: 100%;
      justify-content: space-between;
    }
    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .desc{
      display: none;
    }
  }
  @media screen and (max-width: 640px) {
    .links {
      font-size: 14px;
      flex-direction: column;
    }
  
    
  }