.title{
    color:rgb(190, 217, 102);
    margin-left: 40%;
    width: fit-content;
    text-align: center;
    padding: 5px 10px;
    text-transform: capitalize;
}
.content{
    display: flex;
    gap: 50px;
}

.container{
    margin: 85px;
}

@media screen and (max-width: 1536px){
    
}
@media screen and (max-width: 1280px) {
   
}

@media screen and (max-width: 1080px) {
   
}

@media screen and (max-width: 768px) {
    .container{
        margin: 10px;
    }
}

 
@media screen and (max-width: 640px) {
   
} 

@media screen and (max-width: 440px) {
    .container{
        margin: 2px;
    }
} 