.container{
    

}

.title{
    margin: 50px 0px;
    color: rgb(174, 187, 90);
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;
    
}

.category{
    display: flex;
    border-radius: 15px;
align-items: center;    
justify-content: center;
gap: 10px;
text-transform: capitalize;
width: 15%;
height: 80px;
transition: all 0.2s ease-in-out;
}
.category:hover{
    transform: scale(1.1);
}


.image{
    border-radius: 50%;
}


.sports{
    background-color: rgb(51, 51, 250);
}


.fashion{
    background-color: rgb(177, 119, 221);

    
}


.food{
    background-color: rgb(131, 31, 96);

}



.travel{
    background-color: rgb(109, 95, 43);

}


.tech{
    background-color: rgb(60, 153, 152);
}

.trading{
    background-color: rgb(28, 131, 67);

    
}

@media screen and (max-width: 1280px) {
    .category{
        width: 20%;
    }
}
@media screen and (max-width: 1024px) {
    .category{
        width: 25%;
    }
}
@media screen and (max-width: 768px) {
    .category{
        width:45%;
    }
}
@media screen and (max-width: 640px) {
    .category{
        width: 100%;
    }
}